.add-task-container {
  padding: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 16px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
}

.form-field {
  flex: 1;
  /* Make all fields take equal space */
  min-width: 300px;
  /* Set a minimum width for fields */
}

button {
  display: block;
  margin: 10px auto 0;
  width: 200px;
}

.close-button {
  color: red;
}

/* Responsive styles for tablets */
@media (max-width: 768px) {
  h2 {
    margin-bottom: 10px;
    font-size: 12px;
    /* Reduce font size */
  }
}

/* Responsive styles for devices with width 320px */
@media (max-width: 320px) {

  .form-field {
    flex: 1;
    /* Make all fields take equal space */
    min-width: 150px; /* Set a minimum width for fields */
    // height: 25px;
  }
}